@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

$border_color: darkgray;
$border_radius: 15px;

$font-sizes: (
	small: 24px,
	regular: 32px,
	large: 40px
);

@mixin button($maincolor, $hovercolor, $radius: $border_radius) {
	border-radius: $radius;
	padding: 5px 15px;
	background-color: $maincolor;
	cursor: pointer;

	&:hover {
		background-color: $hovercolor;
	}
}

* {
	box-sizing: inherit;
	font-family: "Red Hat Display";
	font-size: map-get($font-sizes, regular);
}

.hidden {
	display: none !important;
}

body {
	display: grid;

	min-height: 100vh;
	margin: 0;

	box-sizing: border-box;

	grid-template-rows: auto 1fr;
}

h1 {
	text-align: center;
	font-size: map-get($font-sizes, large);
	margin: 0;
	padding: 30px 0;
	border-bottom: 1px $border_color solid;
}

p {
	margin: 0;
}

main {
	display: grid;

	align-items: center;
	justify-items: center;
}

div#hangmanMain {
	display: grid;

	grid-gap: 30px;
	grid-template-columns: 300px 300px;

	padding: 30px;

	border: 3px $border_color solid;
	border-radius: $border_radius;
}

div#hangmanMain > * {
	grid-column: 1 / 3;
}

p#hangmanResult {
	text-align: center;
	font-weight: bold;
	font-size: map-get($font-sizes, large);
}

div#hangmanMain div.hangmanImgDiv {
	grid-column: 1;
}

div#hangmanMain p#hangmanTxt {
	grid-column: 2;

	align-self: center;

	font-weight: bold;
}

img#hangmanImg {
	width: 300px;
}

p#hangmanHint {
	font-size: map-get($font-sizes, small);
}

div.hangmanUsedDiv p {
}

span#hangmanUsed {
	font-weight: bold;
}

div#hangmanInputDiv, a#hangmanAgain {
	justify-self: center;
}

a#hangmanSubmit {
	@include button(lightskyblue, lightblue);
}

a#hangmanAgain {
	color: white;
	@include button(orangered, red)
}

input#hangmanInput {
	width: 50px;
	border: 0;
	border-bottom: 1px black solid;
	text-align: center;
}

@media (width < 700px) {
	h1 {
		font-size: map-get($font-sizes, regular)
	}
	div#hangmanMain {
		width: 95%;
		grid-template-columns: auto;
		justify-items: center;
	}
	div#hangmanMain > * {
		grid-column: auto;
	}
	img#hangmanImg {
		width: 200px;
	}
	div#hangmanMain div.hangmanImgDiv {
		grid-column: auto;
	}

	div#hangmanMain p#hangmanTxt {
		grid-column: auto;
	}
}
